[state]
initial_deploy = {{ lookup('pipe','date +%H:%M:%S-%d.%m.%Y') }}-{{ ansible_play_name }}
last_deploy = {{ lookup('pipe','date +%H:%M:%S-%d.%m.%Y') }}-{{ ansible_play_name }}
last_run = {{ ansible_play_name }}
all_run = {{ ansible_play_name }}
